<section class="solution">
    <div class="container">
        <div class="title">
            Наши решения
            <span class="title-red">отличаются</span>
            от&nbsp;классического чекового промо
        </div>
        <div class="solution__container">
            <div class="solution__graph">
                <div class="solution__graphcontainer">
                    <div class="solution__title">
                        Классический<br> вариант
                    </div>
                    <div class="solution__canvas" data-percent="0.3" data-color="#709CDF"></div>
                </div>
                <div class="solution__graphcontainer">
                    <div class="solution__title">
                        Наш<br> вариант
                    </div>
                    <div class="solution__canvas" data-percent="0.8" data-color="#ED5736"></div>
                </div>
            </div>
            <div class="solution__info">
                <div class="solution__text">
                    Мы используем современные инструменты IT и Digital маркетинга, для более качественной работы с целевой аудиторией
                </div>
                <div class="solution__text-red">
                    Которые помогают повысить количество участников промоакции до 70% и увеличить продажи до 80%
                </div>
            </div>
        </div>
    </div>
</section>
