<section class="social">
    <div class="container">
        <div class="social__info">
            <ul class="social__list">
                <li>
                    Мессенджеры Telegram, What’s app, Vkontakt и др.,
                    а также боты на их основе, исключающие личный кабинет
                </li>
            </ul>
            <div class="social__text-red">Повышение конверсии участия в акции до 70%</div>
        </div>
        <div class="social__imgs" data-relative-input="true" id="scene">
            <img src="./static/img/general/facebook.svg" data-depth="0.2" class="social__facebook" alt="">
            <img src="./static/img/general/instagramm.svg" data-depth="0.2" class="social__instagramm" alt="">
            <img src="./static/img/general/mymir.svg" class="social__mymir" alt="">
            <img src="./static/img/general/skype.svg" class="social__skype" alt="">
            <img src="./static/img/general/telegramm.svg" class="social__telegramm" alt="">
            <img src="./static/img/general/viber.svg" class="social__viber" alt="">
            <img src="./static/img/general/watsapp.svg" class="social__watsapp" alt="">
            <img src="./static/img/general/vk.svg" class="social__vk" alt="">
        </div>
        <img src="./static/img/general/socials.svg" class="mobile-img-social" alt="">
    </div>
</section>
