<section class="problems">
    <div class="container">
        <div class="problems__container">
            <div class="problems__block">
                <div class="problems__text">
                    Низкие продажи продукта и узнаваемость бренда?
                </div>
            </div>
            <div class="problems__block">
                <div class="problems__text">
                    Не можете зайти в розничную сеть и достичь целевого уровня продаж?
                </div>
            </div>
            <div class="problems__block">
                <div class="problems__text">
                    Перестали работать скидочные акции?
                </div>
            </div>
            <div class="problems__block">
                <div class="problems__text">
                    Сложно привлечь внимание к своему бренду?
                </div>
            </div>
            <div class="problems__block">
                <div class="problems__text">
                    Не получается закрепиться в розничной сети на полке?
                </div>
            </div>
            <div class="problems__block">
                <div class="problems__text">
                    Не можете определить аватар потребителя и собрать данные о покупателях?
                </div>
            </div>
        </div>
    </div>
</section>
