<section class="problems">
    <div class="container">
        <div class="problems__container">
            <div class="problems__block">
                <div class="problems__title">
                    Низкие
                </div>
                <div class="problems__text">
                    продажи продукта и узнаваемость бренда?
                </div>
            </div>
            <div class="problems__block">
                <div class="problems__title">
                    Не можете
                </div>
                <div class="problems__text">
                    зайти в розничную сеть и достичь целевого уровня продаж?
                </div>
            </div>
            <div class="problems__block">
                <div class="problems__title">
                    Перестали
                </div>
                <div class="problems__text">
                    работать скидочные акции?
                </div>
            </div>
            <div class="problems__block">
                <div class="problems__title">
                    Сложно
                </div>
                <div class="problems__text">
                    привлечь внимание к своему бренду?
                </div>
            </div>
            <div class="problems__block">
                <div class="problems__title">
                    Не получается
                </div>
                <div class="problems__text">
                    закрепиться в розничной сети на полке?
                </div>
            </div>
            <div class="problems__block">
                <div class="problems__title">
                    Не можете
                </div>
                <div class="problems__text">
                    определить аватар потребителя и собрать данные о покупателях?
                </div>
            </div>
        </div>
    </div>
</section>
