<section class="banner">
    <div class="container">
        <div class="banner__container">
            <div class="banner__text-red">
                Разрабатываем промо акции на основе чекового промо
            </div>
            <div class="banner__title">
                Увеличим продажи вашего продукта
                <span class="banner__red">до 80% за 3 месяца</span>
            </div>
            <div class="banner__text">
                Используем кастомизированные решения для проведения мотивационных промо с использованием современных IT
                решений и технологий Digital маркетинга, повышающие конверсии при касании с участниками акций
            </div>
            <div class="button popup-contact-open">
                Связаться с нами
            </div>
        </div>
        <div class="banner__img">
            <img src="./static/img/general/banner-img.jpg" alt="">
        </div>
        <div class="banner__container-mobile">
            <div class="banner__text">
                Разрабатываем кастомизированные решения для проведения мотивационных промо с использованием IT решений
                и Digital маркетинга, повышающие конверсии при касании с участниками акций
            </div>
            <div class="button popup-contact-open">
                Связаться с нами
            </div>
        </div>
    </div>
</section>
