<section class="useful" id="useful">
    <div class="container">
        <div class="title">
            Чем мы можем быть
            <span class="title-red">полезны для вас</span>&nbsp;?
        </div>
        <div class="useful__container">
            <div class="useful__block">
                <div class="useful__title">
                    <div class="useful__icon">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.8325 6.74952C16.2093 7.5104 16.2093 9.4896 14.8325 10.2505L3.30109 16.6231C1.73111 17.4907 -0.0990236 16.0125 0.418901 14.2951L1.99245 9.07747C2.10602 8.70087 2.10602 8.29913 1.99245 7.92253L0.418902 2.70487C-0.0990229 0.98751 1.73112 -0.4907 3.30109 0.376918L14.8325 6.74952Z" fill="#ED5736"/>
                        </svg>
                    </div>
                    Разработаем промо акцию под ключ, включая:
                </div>
                <ul class="useful__list">
                    <li>Идею и индивидуальную механику проведения акции</li>
                    <li>Key Visual и креативы правила для участников акции</li>
                    <li>Механизмы продвижение с использованием современных Digital решений</li>
                    <li>Закупим и доставим призы</li>
                    <li>Выполним услуги платежного агента</li>
                </ul>
            </div>
            <div class="useful__block">
                <div class="useful__title">
                    <div class="useful__icon">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.8325 6.74952C16.2093 7.5104 16.2093 9.4896 14.8325 10.2505L3.30109 16.6231C1.73111 17.4907 -0.0990236 16.0125 0.418901 14.2951L1.99245 9.07747C2.10602 8.70087 2.10602 8.29913 1.99245 7.92253L0.418902 2.70487C-0.0990229 0.98751 1.73112 -0.4907 3.30109 0.376918L14.8325 6.74952Z" fill="#ED5736"/>
                        </svg>
                    </div>
                    Подготовим подробные отчеты по трафику во время проведения акции и развернутые отчеты по ее окончанию, которые позволят глубже понять ваша аудитория и принципы взаимодействия с ней
                </div>
                <div class="useful__title useful__title-red">
                    <div class="useful__icon">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.8325 6.74952C16.2093 7.5104 16.2093 9.4896 14.8325 10.2505L3.30109 16.6231C1.73111 17.4907 -0.0990236 16.0125 0.418901 14.2951L1.99245 9.07747C2.10602 8.70087 2.10602 8.29913 1.99245 7.92253L0.418902 2.70487C-0.0990229 0.98751 1.73112 -0.4907 3.30109 0.376918L14.8325 6.74952Z" fill="#ED5736"/>
                        </svg>
                    </div>
                    Вы получите отдел маркетинга на аутсорсе со&nbsp;всеми нашими наработками в IT и Digital маркетинге
                </div>
            </div>
        </div>
    </div>
</section>
