<section class="formblock">
    <div class="container">
        <div class="title">Одни из немногих решений, которые мы применяем:</div>
        <div class="formblock__container">
            <div class="formblock__form">
                <div class="actionform__tel">
                    <input type="phone" name='phone' placeholder="+7 (999) 999 99-99" inputmode="numeric">
                    <div class="actionform__tel-img">
                        <img src="./static/img/general/phone-img.svg" alt="">
                    </div>
                </div>
                <label class="actionform__doc">
                    <input type="file" name='file' accept=".pdf, .jpeg, .png, .tiff" data-maxsize="1048577">
                    <span class="actionform__doc-button button">
		                <b>Прикрепить документ</b>
		            </span>
                    <span class="actionform__doc-text"></span>
                </label>
                <div class="meter" id="progressbar">
                    <span style="width: 100%"></span>
                </div>
                <div class="actionform__text actionform__doc-sizetext">
                    Максимальный обьем файла не должен превышать 1 MB (Для сайта), 20 МB (Для телеграм).
                </div>
                <div class="actionform__text">
                    Прикрепите документ в формате PDF, JPEG, PNG, TIFF. Максимальный обьем файла не должен превышать 1 MB (Для сайта), 20 МB (Для телеграм). Убедитесь, что вся информация читаема, текст, печати и подписи на документе разборчивы.
                </div>
                <button id="send" type='submit' class="button">
                    <b>Отправить</b>
                </button>
            </div>
            <div class="formblock__info">
                <ul class="formblock__list">
                    <li>Модуль загрузки документов на сайт</li>
                </ul>
                <div class="formblock__text-red">
                    Повышение конверсии участия в акции до 30%
                </div>
            </div>
        </div>
    </div>
</section>
