<section class="partners" id="partners">
    <div class="container">
        <div class="title">
            Наши
            <span class="title-red">
                клиенты
            </span>
        </div>
        <div class="partners__container">
            <div class="partners__firm">
                <img src="./static/img/general/pepsi.svg" alt="">
            </div>
            <div class="partners__firm">
                <img src="./static/img/general/victoria.svg" alt="">
                <img src="./static/img/general/victoria-color.svg" alt="">
            </div>
            <div class="partners__firm">
                <img src="./static/img/general/mondi.svg" alt="">
                <img src="./static/img/general/mondi-color.svg" alt="">
            </div>
            <div class="partners__firm">
                <img src="./static/img/general/slovo.png" alt="">
                <img src="./static/img/general/slovo-color.png" alt="">
            </div>
            <div class="partners__firm">
                <img src="./static/img/general/rusagro.svg" alt="">
                <img src="./static/img/general/rusagro-color.svg" alt="">
            </div>
            <div class="partners__firm">
                <img src="./static/img/general/diski.svg" alt="">
                <img src="./static/img/general/diski-color.svg" alt="">
            </div>
        </div>
    </div>
</section>
